

body {
  background: #000;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #00b4ff;
}

.phone {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fundo vídeo */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Caso use imagem ao invés de vídeo */
.bg-image {
  background: url("../../img/slide/01.jpg") center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* Overlay branco suave */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
}
