@import url('/style/home/root-home.css');
@import url('./almeida.css');
@import url('./historico.css');
@import url('./section.css');
@import url('./animacao.css');
@import url('./porque.css');
@import url('./valores.css');
@import url('./estrutura-organizacional.css');
@import url('./alcance.css');
@import url('./responsivo.css');