@import url('./root-home.css');

.about-section {
  width: 100%;
  min-height: 100vh; /* ocupa altura total da janela */
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-container {
  width: 100%;
  max-width: 1200px;
  padding: 60px 40px;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.about-container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Background Text "SOBRE A ALMEIDA JÚNIOR" */
.about-title::before {
  content: "SOBRE A ALMEIDA JÚNIOR";
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:6rem;
  font-weight: 700;
  color: var(--color-primary);
  opacity: 0.2;
  white-space: nowrap;
  z-index: 0;
  letter-spacing: 10px;
}


.about-title h2 {
  position: relative;
  z-index: 1;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.about-title h2 .about {
  color: var(--color-primary);
}

.about-title h2 .almeida-jr {
  color: var(--color-secodary);
  font-weight: 700;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: stretch;
  min-height: 500px;
}
/* mídia (esquerda) */
.about-media{
  margin: 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 24px rgba(0,0,0,.18);

  width: 100%;
  height: auto;
  display: flex;
}

.about-media img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
/* texto (direita) */
.about-text {
  font-size: 1.4rem;
  line-height: 1.9;
  color: #333;
  text-align: justify;
}
.about-text p + p{ margin-top: 16px; }